/* Welcome Text */
.welcome {
  font-size: 3.6rem;
}

/* BoxStylings */

.flexBoxH {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1rem;
}

.formBox {
  /* From https://css.glass */
  background: rgba(209, 122, 192, 0.466);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(212, 75, 185, 0.8);
  padding: 2rem;
}

/* Button */

.btn {
  padding: 0.5rem 1rem;
  margin-block: 0.1rem;
  border-radius: 0.3rem;
}

.primary {
  background: hwb(240 38% 0% / 0.5);
  border: 1px solid hsla(0, 0%, 0%, 0.315);
  transition: all 0.2s ease-in-out;
}
.primary:hover {
  background: hwb(240 38% 0% / 0.8);
}

.seconday {
  background: transparent;
  color: white;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}

.seconday:hover {
  background: red;
}

/* Form Styling Login Form */

.inputField {
  border: 1px solid hwb(0 0% 100% / 0.1);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

.inputField:focus {
  border: 1px solid hwb(194 4% 1% / 0.5);
}
